<span style='color:blue'>Importamos las clases y funciones

In [1]:
from modules3 import *

<span style='color:blue'>Probamos a inicializar un juego

In [2]:
obs = game_obs()

<span style='color:blue'>Por defecto incorpora las 32 piezas habituales

In [3]:
print('Total de piezas = {} --->'.format(len(obs.pieces)), [pieza.id1 for pieza in obs.pieces.values()])

Total de piezas = 32 ---> ['Rb', 'Rb', 'Bb', 'Bb', 'Nb', 'Nb', 'Qb', 'Kb', 'Pb', 'Pb', 'Pb', 'Pb', 'Pb', 'Pb', 'Pb', 'Pb', 'Rr', 'Rr', 'Br', 'Br', 'Nr', 'Nr', 'Qr', 'Kr', 'Pr', 'Pr', 'Pr', 'Pr', 'Pr', 'Pr', 'Pr', 'Pr']

<span style='color:blue'>El tablero (originalmente vacío) se representa con un pd.DataFrame

In [4]:
obs.board

  0 1 2 3 4 5 6 7
0
1
2
3
4
5
6
7

<span style='color:blue'>El método `display_board()` nos muestra el tablero de una forma mucho + visual

In [5]:
obs.display_board()

<span style='color:blue'>Con el método `place_pieces()` podemos colocar las piezas en el tablero

In [6]:
obs.place_pieces()

In [7]:
obs.display_board()

<span style='color:blue'>De entrada, el turno inicial corresponde a las azules (lo que serían las blancas en el ajedrez de toda la vida)

In [8]:
obs.turn

'b'

<span style='color:blue'>En cada observación el objeto juego cuenta con unos conjuntos dónde se tiene que casillas están ocupadas y cuales por cada color

In [9]:
print(obs.filled_squares == obs.filled_squares_b.union(obs.filled_squares_r))

True

<span style='color:blue'>Probamos a seleccionar una pieza, por ejemplo el caballo azul situado en (7, 1). Esta es un objeto en sí mismo también

In [10]:
rocinante = obs.pieces['Nb71']

<span style='color:blue'>En `value` tenemos el tipo de pieza:
- <span style='color:blue'>R = Rock
- <span style='color:blue'>B = Bishop
- <span style='color:blue'>N = Knight
- <span style='color:blue'>Q = Queen
- <span style='color:blue'>K = King
- <span style='color:blue'>P = Pawn

In [11]:
rocinante.value

'N'

<span style='color:blue'>En `color` tenemos el color de la pieza (b == blue, r == red)

In [12]:
rocinante.color

'b'

<span style='color:blue'>En `row` y `col` tenemos el índice de la fila y de la columna, respectivamente

In [13]:
rocinante.row, rocinante.col

(7, 1)

<span style='color:blue'>En `id1` tenemos la concatenación de `value` y `color`

In [14]:
rocinante.id1

'Nb'

<span style='color:blue'>En `id2` tenemos el siguiente identificador único: tipo + color + posición original

In [15]:
rocinante.id2

'Nb71'

<span style='color:blue'>El atributo `first_movement` es un flag booleano para indicar si ya ha hecho el primer movimiento o no (útil para los peones y para los enroques)

In [16]:
rocinante.first_movement

True

<span style='color:blue'>Las piezas tienen el método `compute_moves` que calculan los movimientos asociados a cada pieza

In [17]:
rocinante.compute_moves(obs)

<span style='color:blue'>Los **motivimientos naturales** son aquellos intrínsecos a la pieza según su valor y posición

In [18]:
rocinante.natural_moves

[(5, 0), (5, 2), (6, 3)]

<span style='color:blue'>Los **motivimientos legales** es el subconjunto de los movimientos naturales cuyas posiciones respetarían las reglas del juego. Podemos ver como en este ejemplo, el caballo no puede saltar a (6, 3) por que ahora mismo en esa casilla hay un peón de su mismo color

In [19]:
rocinante.legal_moves

[(5, 0), (5, 2)]

<span style='color:blue'>Podemos mover la pieza a cualquier posición de los movimientos legales con el método `move()`

In [20]:
rocinante.move(obs, (5, 2))

<span style='color:blue'>Podemos ver como ha cambiado el tablero

In [21]:
obs.display_board()

<span style='color:blue'>Se ha actualizado el turno de forma que ahora les tocaría mover a las rojas

In [22]:
obs.turn

'r'

<span style='color:blue'>Se ha actulizado también la posición de la pieza

In [23]:
rocinante.row, rocinante.col

(5, 2)

<span style='color:blue'>Es importante puntualizar que tras el movimiento se recalculan los movimientos naturales y legales de todas las piezas del tablero

In [24]:
rocinante.legal_moves

[(3, 1), (3, 3), (4, 0), (4, 4), (7, 1)]

<span style='color:blue'>Si intentamos mover de nuevo esta misma pieza nos salta un error advirtíendonos que ahora es el turno de las rojas

In [25]:
# rocinante.move(obs, (3, 3))

<span style='color:blue'>Podemos cambiar el parámetro `respect_turn` a False para que sí nos deje

In [26]:
rocinante.move(obs, (3, 3), respect_turn=False)
obs.display_board()

<span style='color:blue'>Eso sí, el turno aún seguiría siendo de las rojas

In [27]:
obs.turn

'r'

<span style='color:blue'>Insistimos que tras el movimiento los `legal_moves` de rocinante (y de todas las demás piezas!) se han actualizado automáticamente

In [28]:
rocinante.legal_moves

[(1, 2), (1, 4), (2, 1), (2, 5), (4, 1), (4, 5), (5, 2), (5, 4)]

<span style='color:blue'>Si intentamos un movimiento que no es legal (como capturar el rey rojo situado en (0, 4)) nos salta un error de que eso no es posible

In [29]:
# rocinante.move(obs, (0, 4), respect_turn=False)

<span style='color:blue'>También se puede activar el parámetro booleano `info` que da información sobre el movimiento realizado

In [30]:
rocinante.move(obs, (2, 1), info=True, respect_turn=False)

El caballo de (3, 3) se ha movido a (2, 1)

In [31]:
obs.display_board()

<span style='color:blue'>Podemos deshacer el último movimiento con `undo()`

In [32]:
obs.undo()
obs.display_board()

<span style='color:blue'>Alternativamente, podemos usar el método `move_piece` para hacer movimientos de piezas pasando como argumento solo la posición inicial y final

In [33]:
obs.move_piece((0, 6), (2, 5), info=True)
obs.display_board()

El caballo de (0, 6) se ha movido a (2, 5)

<span style='color:blue'>Probamos a capturar el caballo rojo y **se nos avisa de que se ha producido una situación de jaque!**

In [34]:
obs.move_piece((3, 3), (2, 5), info=True)
obs.display_board()

El caballo de (3, 3) ha capturado el caballo de (2, 5)
Check!

<span style='color:blue'>Si ahora por ejemplo seleccionamos al peón rojo de (1, 6) solo tiene un movimiento legal: comerse al caballo que está dando jaque :P

In [35]:
peoncito = obs.pieces['Pr16']
peoncito.legal_moves

[(2, 5)]

<span style='color:blue'>Vamos a probar a recrear el popular jaque mate pastor para cerciorarnos de que el jaque mate también se detecta correctamente

In [36]:
obs = game_obs()
obs.place_pieces()
obs.compute_legal_moves()
obs.move_piece((6, 4), (4, 4))
obs.move_piece((1, 4), (3, 4))
obs.move_piece((7, 3), (3, 7))
obs.move_piece((0, 1), (2, 2))
obs.move_piece((7, 5), (4, 2))
obs.move_piece((0, 6), (2, 5))
obs.display_board()
obs.move_piece((3, 7), (1, 5))
obs.display_board()

Check mate!

<span style='color:blue'>Sin embargo todavía hay algunos **bugs** que producen partidas inválidas... `#fixing_it`

In [37]:
obs = game_obs()
obs.place_pieces()
obs.compute_legal_moves()
obs.move_piece((6, 2), (4, 2))
obs.move_piece((1, 7), (2, 7))
print('Movimiento 3:')
obs.move_piece((7, 3), (4, 0))
obs.display_board()
print('Movimiento 4 (bug):')
obs.move_piece((1, 3), (2, 3))
obs.display_board()

Movimiento 3:

Movimiento 4 (bug):
Check!